<!DOCTYPE html>
<html lang="en">
<head>
  <title>Villy's Cookbook</title>
</head>
<body>
  <h1>Villy's Cookbook</h1>
  <p>A place to store and share you recipes</p>
  <form action="/users/login" method="post">
    user name: <input type="text" name="name">
    password: <input type="password" name="password">
    <input type="submit" value="Login">
  </form>
  <a href="/users/signup">New member signup here</a>
</body>
</html>
